<div class="auth-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Sign up</h1>
        <p class="text-xs-center">
          <%= link_to 'Have an account?', new_user_session_path %>
        </p>

        <% if resource.errors.any? %>
          <%#= render "devise/shared/error_messages", resource: resource %>
          <ul class="error-messages">
            <% resource.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <fieldset class="form-group">
            <%= f.text_field :username, autofocus: true, placeholder: 'Your Name', class: 'form-control form-control-lg' %>
          </fieldset>
          <fieldset class="form-group">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'form-control form-control-lg' %>
          </fieldset>
          <fieldset class="form-group">
            <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Password', class: 'form-control form-control-lg' %>
          </fieldset>
          <%= f.submit "Sign up", class: 'btn btn-lg btn-primary pull-xs-right' %>
        <% end %>
      </div>

    </div>
  </div>
</div>
